{% extends 'main.html' %}

{% block title %}
<title>Tasks</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="header">
      <h1 style="font-size: 1.5rem;">Tasks</h1>
    </div>



    <ul class="todo-list">
      
      <form action="{% url 'task-completed' %}" method="POST">
        {% csrf_token %}
        <a href="{% url 'welcome' %}" class="back-arrow"><i class="fas fa-chevron-left"></i></a>
        <p><small> Only the first 30 characters will be displayed</small></p>
        {% if tasks %}
        {% for task in tasks %}
        <li class="todo-item">
          
          <label>
            <input type="checkbox" name="{{ task.id }}"{% if task.completed %}checked{% endif %}/>
            <label for="{{ task.id }}">{{ task.title|slice:30}}</label>
          </label>

          <div class="actions">
            <a href="{% url 'update-task' task.id %}"><i class="fas fa-edit"></i></a>
            <a href="{% url 'delete-task' task.id %}?next={{request.path}}"><i class="fas fa-trash-alt"></i></a>  
          </div>
        </li>
        {% endfor %}
        <div class="task-btn-container">
        <input type="submit" id="btns" class="btn pr-5 pl-5 mt-3" value="Submit" />
        <a href="{% url 'create-task' %}?next={{request.path}}" id="btns"  class=" btn pr-5 pl-5 mt-3 ml-5">Add task</a>
      </div>

        {% else %}
        <p>You haven't created any task yet.</p>
        <a href="{% url 'create-task' %}" id="btns" class="btn pr-5 pl-5 mt-3">Create Task</a>
        {% endif %}
        
      </form>
       
      </ul>
</div>
{% endblock content %}