{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
  input [type='email'],
  input[type='text'] {
    width: 100% !important;
    min-width: 24rem;
  }
  
  h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: inherit;
  }
  
  form {
    margin: 0 1.5em;
  }
</style>

  <div class="container">
    <div class="header">
      <h1>Enter new password</h1>
    </div>
    <a href="{% url 'password_reset_done' %}" class="back-arrow"><i class="fas fa-chevron-left"></i></a>
    <form method="POST">
      {% csrf_token %} 
      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
      {% for field in form %}
      <div class="form-group m-3">
        <label for="exampleFormControlInput1">{{ field.label }}</label>
        {{field}}

        {% for error in field.errors %}
          <p style="color: red;">{{error}}</p>
        {% endfor %}

      </div>
    {% endfor %}
        <input type="submit" id="btns" class="btn btn-primary pr-5 pl-5 mb-2 ml-2 mt-2" value="Submit" />
      </div>
    </form>
  </div>
{% endblock %}
