{% extends 'main.html' %}

{% block title %}
<title>password sent</title>
{% endblock title %}

{% block content %}

<style>
  h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: inherit;
  }
  
  p {
    margin: 0 1.5em;
   
  }
</style>


  <div class="container">
    <a href="{% url 'password_reset' %}" class="back-arrow"><i class="fas fa-chevron-left"></i></a>
    <div class="header">
      <h1>Password reset sent</h1>
    </div>
    
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <br>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
  </div>
{% endblock %}
