{% extends 'main.html' %}

{% block content %}
  <style>
    input [type='email'],
    input[type='text'],
    input [type='password'], {
      width: 100% !important;
      min-width: 24rem;
    }
    
    h1 {
      font-size: 1.5em;
      text-align: center;
      font-family: inherit;
    }
    
    p {
      margin: 0 1.5em;
    }
  </style>

  <div class="container">
    <div class="header">
      <h1>Password reset</h1>
    </div>

    <form method="POST">
      {% csrf_token %}
      <a href="{% url 'login' %}" class="back-arrow"><i class="fas fa-chevron-left"></i></a>
      <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>.
      {{form}}

      <input type="submit" id="btns" class="btn btn-primary pr-5 pl-5 mb-2 ml-5 mt-3" value="Submit" />
    </form>
  </div>
{% endblock %}
